{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
